body {
    background-color: #d3f0f6;
}

.logo {
    width: 200px;
    margin: 10px 40px;
}

.btn-primary {
    width: 100px;
    font-size: 16px;
    /*margin-left: 35%;*/
}

.navbar-nav {
    margin-left: 350px;
}

nav ul li {
    padding-left: 200px;
}

.btn-primary {
    margin-left: 20px;
    background-color: #0b3f64;
}

.btn-primary:hover {
    background-color: #14527f;
}

.divide {
    height: 10px;
    background-color: #0b3f64;
}

.container{
    border: 2px solid;
    background-color: white;
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    padding: 40px 30px;
    box-shadow: 2px 2px #082c46;
    left: 33%;
    top: 150px;
}

.loginlogo{
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 33%;
    margin-top: -10px;
}

.container h3{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 20px;
}

.payment-btn{
    padding: 15px 20px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 98px;
    margin-top: 50px;
}